# IDE
.idea/
.vscode/

# macOS
.DS_Store
.AppleDoubleUp

# Logs
*.log

# Dependencies
node_modules/

# Build
build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies

# Generated
*.g.dart
*.freezed.dart

# Debug
*.snapshot
